
<div class="card mb-3" id="pk" style="max-width: 90%;">
    <div class="row g-0">
        <div class="col-md-4">
        <img  class="img-fluid rounded-start"  style="width: 100%;height: 35rem;"   src=  <%- Allfilmoteca.poster %> >
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%- Allfilmoteca.titulo %></h5>
                                <p class="card-text"><b>categoria:</b><%- Allfilmoteca.categoria %></p>
                                <p class="card-text"><b>genero:</b><%- Allfilmoteca.genero %></p>
                                <p class="card-text"><b>resumen:</b><%- Allfilmoteca.resumen %></p>
                                <p class="card-text"><b>temporada:</b><%- Allfilmoteca.temporada %></p>
                                <p class="card-text"><b>reparto:</b><%- Allfilmoteca.reparto %></p>
                                <p class="card-text"><b>trailer:</b><%- Allfilmoteca.trailers %></p>
            </div>
        </div>
    </div>
</div>